.canvas {
    text-align: center;
}

.buttons {
    text-align: center;
}

.buttons button {
    margin: 20px;
}

.btn {
    border-style: none;
    cursor: pointer;
}

.cross-layout {
    width: 180px;
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    justify-items: center;
    align-items: center;
}

.position-top {
    grid-row: 1/2;
    grid-column: 2/3;
}

.position-left {
    grid-row: 2/3;
    grid-column: 1/2;
}

.position-center {
    grid-row: 2/3;
    grid-column: 2/3;
}

.position-right {
    grid-row: 2/3;
    grid-column: 3/4;
}

.position-bottom {
    grid-row: 3 / 4;
    grid-column: 2/3;
}

.cross-key-btn {
    width: 60px;
    height: 60px;
    background-color: rgba(66, 86, 123, 0.5);
}

.top-mark {
    margin: auto;
    background-color: blue;
    width: 34.6px;
    height: 30px;
    clip-path: polygon(0 100%, 100% 100%, 50% 0);
}

.center-mark {
    margin: auto;
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.left-mark {
    margin: auto;
    background-color: blue;
    width: 30px;
    height: 34.6px;
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

.right-mark {
    margin: auto;
    background-color: blue;
    width: 30px;
    height: 34.6px;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.bottom-mark {
    margin: auto;
    background-color: blue;
    width: 34.6px;
    height: 30px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}